@page
@model BibliotecaRinconDelLibro.Pages.Prestamo.IndexModel


@functions {
    
    string ObtenerEstadoPrestamo(string estado)
    {
        return estado switch
        {
            "Prestado" => "Prestado",
            "Devuelto" => "Devuelto",
            _ => "Prestado"
        };
    }
}

@{
    ViewData["Title"] = "Index";
}

<div class="admin-container page-container">

<h1>Préstamos</h1>

<div class="d-flex justify-content-start mb-4">
    <a asp-page="Create"
           class="btn btn-success">
            + Nuevo
    </a>      
</div>

<table class="table">
    <thead>
        <tr>
            
            <th>Fecha Préstamo</th>
            <th>Cliente</th>
            <th>Estado del Libro</th>
            <th>Título del Libro</th>
            <th>Fecha Devolución</th>
            <th>Estado de Prestamo</th>
            <th>Responsable</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Prestamo)
        {
            <tr>
                <td>@item.FechaPrestamo.ToString("d")</td>
                <td>@item.IdClientesNavigation?.NombreCompleto</td>
                <td>@item.IdEstadoLibroNavigation?.DescripcionEstado</td>
                <td>@item.IdLibroNavigation?.Titulo</td>
                <td>@item.FechaDevolucion.ToString("d")</td>
                <td>@ObtenerEstadoPrestamo(item.IdEstadoPrestamo)</td> <!-- Corregido -->
                <td>@item.IdUsuarioNavigation?.NombreCompleto</td>
                <td class="text-right">
                        <a asp-page="./Edit"
                           asp-route-id="@item.IdPrestamo"
                           class="btn btn-sm btn-primary me-1">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a asp-page="./Details"
                           asp-route-id="@item.IdPrestamo"
                           class="btn btn-sm btn-secondary">
                            <i class="fas fa-ticket-alt"></i> Ticket
                        </a>
                </td>
            </tr>

        }
    </tbody>
</table>

</div>

<style>
    .btn-eliminar {
        background-color: #E5E0CF;
        color: #6F8249;
        border: 1px solid #E5E0CF;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }

    .btn-eliminar:hover {
        background-color: #d4cbb6;
    }
</style>


