@page "{id:int}"
@model BibliotecaRinconDelLibro.Pages.Returns.DeleteModel
@{
    ViewData["Title"] = "Eliminar Devolución";
}

<h1>Eliminar Devolución</h1>

<h3>¿Estás seguro de que deseas eliminar esta devolución?</h3>
<div>
    <h4>Devolución</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Devolucion.IdDevoluciones</dd>

        <dt class="col-sm-2">ID Préstamo</dt>
        <dd class="col-sm-10">@Model.Devolucion.IdPrestamo</dd>

        <dt class="col-sm-2">Motivo</dt>
        <dd class="col-sm-10">@Model.Devolucion.Motivo</dd>

        <dt class="col-sm-2">Estado Regreso</dt>
        <dd class="col-sm-10">@Model.Devolucion.IdEstadoRegreso</dd>

        <dt class="col-sm-2">Fecha Devuelto</dt>
        <dd class="col-sm-10">@Model.Devolucion.FechaDevolucion.ToShortDateString()</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Devolucion.IdDevoluciones" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>