@page
@model BibliotecaRinconDelLibro.Pages.Clientes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="admin-container page-container">

<h1>Eliminar</h1>

<h3>Estas seguro que quieres eliminar este cliente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.ApellidoP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ApellidoP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.ApellidoM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ApellidoM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Valoracion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Valoracion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.IdDireccionNavigation)
        </dt>
        <dd class="col-sm-10">
            @Model.Cliente.DireccionCompleta
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cliente.IdClientes" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
</div>
